@model Donatech.Core.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}


<form asp-action="Login">
    <div class="text-center">
        <div class="container text-center mb-4">
           <p>Index Page!</p>
        </div>
    </div>
</form>