<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  internalLogLevel="Info">
		<variable name="logDirectory" value="app-logs" />
		<!-- the targets to write to -->
		<targets>
			<!-- write logs to file  -->
			<target xsi:type="File" name="debugFile" fileName="${logDirectory}/donatech-debug-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
			<target xsi:type="File" name="infoFile" fileName="${logDirectory}/donatech-info-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
			<target xsi:type="File" name="errorFile" fileName="${logDirectory}/donatech-error-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		</targets>

		<!-- rules to map from logger name to target -->
		<rules>
			<!--All logs, including from Microsoft-->
			<logger name="*" minlevel="Debug" writeTo="debugFile" />
			<logger name="*" minlevel="Info" writeTo="infoFile" />
			<logger name="*" minlevel="Error" writeTo="errorFile" />
		</rules>
	</nlog>

</configuration>